<style>
    /*bootstrap 2.0 issue*/
    #map-canvas img {
        max-width: none !important;
    }
</style>
<div id='directions-container' class='container'>
  <div class="row-fluid">
    <br />
    <div class="google-map">
      <div id="map-canvas" style="width: 800px; height: 600px;"></div>
    </div>
  </div>
</div>