<div id='bridal-party-container' class='container'>
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span6" id="bridesmaids">
          <h3 id="bridesmaids-header" class="bridal-party-header">Bridesmaids</h3>
          <div class="line-break"></div>
          <div class="row-fluid">
            <div class="span6">
              <ul class="bridal-party-list pull-right">
                <li>FirstName LastName</li>
                <li><br /></li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li><br /></li>
                <li>FirstName LastName</li>
              </ul>
            </div>
            <div class="span6">
              <ul class="bridal-party-list pull-left">
                <li>Matron of Honor</li>
                <li><br /></li>
                <li>Bridesmaid</li>
                <li>Bridesmaid</li>
                <li>Bridesmaid</li>
                <li>Bridesmaid</li>
                <li><br /></li>
                <li>Flower Girl</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span6" id="groomsman">
          <h3 id="groomsman-header" class="bridal-party-header">Groomsman</h3>
          <div class="line-break"></div>
          <div class="row-fluid">
            <div class="span6">
              <ul class="bridal-party-list pull-right">
                <li>FirstName LastName</li>
                <li><br /></li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li><br /></li>
                <li>FirstName LastName</li>
              </ul>
            </div>
            <div class="span6">
              <ul class="bridal-party-list pull-left">
                <li>Best Man</li>
                <li><br /></li>
                <li>Groomsman</li>
                <li>Groomsman</li>
                <li>Groomsman</li>
                <li>Groomsman</li>
                <li><br /></li>
                <li>Ring Bearer</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3 id="family-header" class="bridal-party-header">Family</h3>
      <div class="line-break"></div>
      <div class="row-fluid">
        <div class="span6" id="bride-famil">
          <div class="row-fluid">
            <div class="span6">
              <ul class="bridal-party-list pull-right">
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
              </ul>
            </div>
            <div class="span6">
              <ul class="bridal-party-list pull-left">
                <li>Family Role</li>
                <li>Family Role</li>
                <li>Family Role</li>
                <li>Family Role</li>
                <li>Family Role</li>
                <li>Family Role</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="span6" id="groom-family">
          <div class="row-fluid">
            <div class="span6">
              <ul class="bridal-party-list pull-right">
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
                <li>FirstName LastName</li>
              </ul>
            </div>
            <div class="span6">
              <ul class="bridal-party-list pull-left">
                <li>Family Role</li>
                <li>Family Role</li>
                <li>Family Role</li>
                <li>Family Role</li>
                <li>Family Role</li>
                <li>Family Role</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>