<div id='bridal-party-container' class='container'>
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span6" id="bridesmaids">
          <div class="line-break"></div>
          <div class="row-fluid">
            <div class="span6">
              <ul class="bridal-party-list pull-right">
                <li>Matron of Honor</li>
                <li>Alicia Sexton</li>
                <li><br /></li>
                <li>Bridesmaids</li>
                <li>Nicole Watkins</li>
                <li>Candace Zamora</li>
                <li>Megan Kapes</li>
                <li>Alyssa Magnacca</li>
              </ul>
            </div>
            <div class="span6">
              <ul class="bridal-party-list pull-left">
                <li><br /></li>
                <li>Friend of the Bride</li>
                <li><br /></li>
                <li><br /></li>
                <li>Sister of the Bride</li>
                <li>Friend of the Bride</li>
                <li>Cousin of the Bride</li>
                <li>Sister of the Groom</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span6" id="groomsman">
          <div class="line-break"></div>
          <div class="row-fluid">
            <div class="span6">
              <ul class="bridal-party-list pull-right">
                <li>Best Man</li>
                <li>Jason Frenz</li>
                <li><br /></li>
                <li>Groomsmen</li>
                <li>Chris Weiss</li>
                <li>Josh Sexton</li>
                <li>Tyler Wymer</li>
                <li>Anthony Zych</li>
              </ul>
            </div>
            <div class="span6">
              <ul class="bridal-party-list pull-left">
                <li><br /></li>
                <li>Friend of the Groom</li>
                <li><br /></li>
                <li><br /></li>
                <li>Friend of the Groom</li>
                <li>Friend of the Groom</li>
                <li>Friend of the Groom</li>
                <li>Friend of the Groom</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

