#carousel-container
  #slides.carousel.slide{data: {ride: 'carousel'}}
    -# indicators
    %ol.carousel-indicators
      %li.active{data:{target: '#carousel-example', slide_to: '0'}}
      %li{data:{target: '#carousel-example', slide_to: '1'}}
      %li{data:{target: '#carousel-example', slide_to: '2'}}

    -# wrapper for slides
    .carousel-inner
      .item.active
        =image_tag 'home0.gif'
      .item
        =image_tag 'home1.gif'
      .item
        =image_tag 'home2.gif'
      .item
        =image_tag 'home3.gif'
      .item
        =image_tag 'home4.gif'

    -# controls
    %a.carousel-control.left{href:'#slides', data: {slide:'prev'}}
      %span.glyphicon.glyphicon-chevron-left
    %a.carousel-control.right{href:'#slides', data: {slide: 'next'}}
      %span.glyphicon.glyphicon-chevron-right
