<div id='nav-container' class='container'>
  <div class="navbar center">
    <div class="navbar-inner">
      <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <!-- everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse">
          <!-- .nav, .navbar-search, .navbar-form, etc -->
          <ul id="nav-bar" class="nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/bridal_party">Bridal Party</a></li>
            <li><a href="/directions">Location & Directions</a></li>
            <li><a href="/accommodations">Accommodations</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a href="/registry">Registry</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>