<div id="site-container">
  <div id="carousel-container">
    <div id="slides" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%=image_tag('1024x681.jpg')%>
        </div>
        <div class="item"><%=image_tag('1024x681.jpg')%></div>
      </div>

      <!-- Controls -->
      <a class="carousel-control left" href="#slides" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#slides" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div id="home-container" class="container">
        <div class="row">
          <div id="welcome" class="span6">
            <h3 id="welcome-heading">
              Lauren & Christopher are getting married!
            </h3>
            <div id="welcome-text">

            </div>
          </div>
          <div class="span4">
            <div class="btn-group" id="rsvp">
              <button class="btn btn-primary btn-large">RSVP</button>
              <br />
              <div id="countdown" class="countdownHolder">
                <!-- countdown timer -->
              </div>
            </div>
            <div>
              <span id="rsvp-heading">Received your invitation?</span>
              You can RSVP online as the date nears and let us know if you can come!
            </div>
          </div>
        </div>
    <br />
    </div>
  </div>
</div>
