<div id="site-container">
  <div id="main-content">
      <%= render 'shared/carousel' %>
  </div>
  <div id="home-container" class="container">
        <div class="row">
          <div id="welcome" class="span6">
            <h3 id="welcome-heading">
              Lauren & Christopher are getting married!
            </h3>
            <br />
            <div id="welcome-text">
              We are excited to share our special day with our family and friends.
            </div>
          </div>
          <div class="span4">
            <div class="btn-group" id="rsvp">
              <button class="btn btn-primary btn-large">RSVP</button>
              <br />
              <div id="countdown" class="countdownHolder">
                <!-- countdown timer -->
              </div>
            </div>
            <div>
              <span id="rsvp-heading">Received your invitation?</span>
              You can RSVP online as the date nears and let us know if you can come!
            </div>
          </div>
        </div>
    <br />
    </div>
  </div>
</div>
