
<div id='index-container' class='container'>
  <div id='placeholder-header'>Save the Date</div>
  <div id="placeholder-container">
    <img src="assets/1024x681.jpg" alt="Save the Date!">
  </div>
  <div id='placeholder-date'>June 28, 2014</div>
  <div id='placeholder-reminder'>Check back soon for more information!</div>
</div>
