= render "shared/carousel"
%h1
  = "Lauren & Christopher"
  %p.lead
    = "We are excited to share our special day with our family and friends."
  %p
    %a.btn.btn-lg.btn-primary{href:"#", role:"button"}
      = "RSVP"

.row
  .col-lg-12
    #countdown

