<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<p>
			<%= @name %>,
		</p>
    <p>
			We have recieved your RSVP! We are excited to share our special day with you.
			If you have any questions, feel free to contact us and we will be happy to help.
    </p>
    <p>
			Sincerely,
		</p>
		<p>
			Christopher Magnacca &amp; Lauren Sapharas
		</p>
  </body>
</html>
