<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>
			Lauren &amp; Chris,
		</p>
		<p>
			<%= @names %> have chosen to RSVP online and have successfully submitted their RSVP.
		</p>
		<p>
			<%= @meal_order %>
		</p>
		<p>
			Sincerely,
		</p>
		<p>
			Automated Emailer
		</p>
	</body>
</html>
