<div id='rsvp-container' class='container'>
  <div class="row-fluid">
    <div class="span12">
      <h3 id="rsvp-header" class="rsvp-header">RSVP</h3>
      <div class="line-break"></div>

      <%=form_tag('/rsvp', method: 'rsvp') do %>

      <div id="name-row" class="row-fluid">
        <div class="span4 offset4"><input id="name-input" class="input-xlarge" type="text" placeholder="Name"></div>
      </div>

      <div id="attending-row" class="row-fluid">
        <div class="span4 offset4">
          <label id="attending-label">Attending?</label>
          <label class="radio inline">
            <input type="radio" name="attendingRadios" id="attendingYes" value="yes"> Yes
          </label>
          <label class="radio inline">
            <input type="radio" name="attendingRadios" id="attendingNo" value="no"> No
          </label>
        </div>
      </div>

      <div id="guest-row" class="row-fluid">
        <div class="span4 offset4">
          <label id="guest-label">Guest?</label>
          <label class="radio inline">
            <input type="radio" name="guestRadios" id="guestYes" value="yes"> Yes
          </label>
          <label class="radio inline">
            <input type="radio" name="guestRadios" id="guestNo" value="no"> No
          </label>
        </div>
      </div>

      <div id="comment-row" class="row-fluid">
        <div class="span4 offset4">
          <label><textarea id="rsvp-text" placeholder="Comments" maxlength="500" rows=10></textarea></label>
        </div>
      </div>

      <div id="submit-row" class="row-fluid">
        <div class="span4 offset4">
          <button id="rsvp-button" class="btn" type="submit">RSVP</button>
        </div>
      </div>

    <% end %>

    </div>
  </div>
</div>