.row
  .col-md-12
    %h3
      = "Our Story"

%br

.row
  .col-md-12
    %p
      = "About Lauren"
    .divider
    %p
      = h(                                                                             |
      "Lauren grew up in Solon, Ohio and graduated from The Ohio State University " +  |
      "with her Bachelor of Science Degree in Electrical and Computer Engineering " +  |
      "and minored in General Business. After permanently moving to Columbus " +       |
      "after college, Lauren began working as a Telecom Analyst at Affinion Group " +  |
      "in Westerville, Ohio. She currently works at CallCopy as a Support Engineer " + |
      "in downtown Columbus. In her spare time, Lauren enjoys video games, crafts, " + |
      "Ohio State football and hanging out with good friends.")                        |


