// Place all the styles related to the bridal_party controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#bridesmaids{
  text-align: center;
}

div#groomsman {
  text-align: center;
}

h3.bridal-party-header {
  font-weight: 100;
}

h3#family-header{
  padding-top: 2em;
  text-align: center;
}

ul.bridal-party-list {
  list-style-type: none;
}