// Place all the styles related to the directions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #e0e0e0;

#directions-container {
  width: 100%;
  height: 100%;
  background: $gray;
}
