// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// base pixel size -> 16px
$azure: #000099;
$slate: #666699;
$dark-slate: #E0E0E0;

// sitewide
html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  background-color: $azure;
  height: 100%;

  font: {
    weight: 200;
  }

  line: {
    height: 1.2em; //19px;
  }

}

// home/index.html.erb
#index-container {
  min-height: 100%;
  background-color: $slate;
}

// application.html.erb
.navbar .nav > li > a:hover {
  background-color: $dark-slate;
}

#nav-container {
  margin: {
    top: 5em; //80px;
  }
}
.navbar .nav, .navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline;      /* ie7 fix */
  *zoom:1;              /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}