// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#site-container {
  width: 100%;
  height: 80%;
  background-color: #E9E9E9; /* off-white */
}

#header {
  margin-top: -1.125em;
  width: 100%; /* 960px / 960 */
}

#body-container {
  width: 90%;
  height: 75%;
}

#blue-bar {
  width: 100%;
  height: 1.0em;
  border: 0.063em solid #8C8C8C;
  background-image: image-url('blue-texture.jpg');
}

#title {
  width: 31.25%; /* 150px / 960px */
  color: #FFFFFF;
  position: relative;
  top: -0.500em;
  border-radius: 0.500em; /* 8px */
  padding-top: 0.750em; /* 12px */
  padding-bottom: 6.5em; /* 100px */
  padding-left: 9.375em; /* 150px */
  padding-right: 9.375em; /* 150px */
  text-align: center;
  left: 50%;
  margin: 0 0 0 -15.625%;
  border: 0.125em solid #000000;
  background-image: image-url('tweed_@2X.png');
}

#content-container {
  height: 75%;
}

#home-container {
  width: 79.166666666667%;
  height: 31.250em; /* 500px */
  background-color: #F9F9F9;
  left: 50%;
  position: relative;
  border-radius: 0.500em; /* 8px */
  border: 0.125em solid #000000;
  margin: -6.250em 0 0 -39.583333333334%;


}

/* custom navigation bar */
ul#navigation-bar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style-type:none;
  border: 0.063em solid #8C8C8C;
  padding-top: 0.750em;
  padding-bottom: 0.750em;
  background-image: image-url('mooning_@2X.png');
}

li.nav-item {
  font-family: 'Roboto Slab', cursive;
  font-weight: 400;
  font-size: 1.250em;
  display:inline;
  padding-left: 0.313em;
}

li.nav-item a {
  width: 6.00em; /* 96px */
  text-align: center;
  text-decoration:none;
  padding:0.20em 0.60em;

}

li#nav-right{
  padding-left: 12.75em; /* 300px */
}

li#nav-left {
  padding-right: 12.75em; /* 300px */
}