.container {
  max-width: 60.000em; /* 960px */
}

.header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.divider {
  max-width: 50%;
  margin: 0.952em auto;
  border-bottom: 1px dotted black;
}

.md-emphasis {
  font-weight: 400;
  font-size: 1.143em;
}

.txt-left {
  text-indent: 0.952em;
  text-align: left;
}

p.quote {
  font-style: italic;
  font-size: 0.75em;
}

.error {
  border: 1px solid red !important;
}

.rsvp-errors {
  display: none;
  height: 0px;
  padding: 2px;
  max-width: 60%;
  float: none;
  border-radius: 3px;
  background: #ffc0cb;
}
